.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.break {
  display: block;
}

.textBox {
  max-width: 700px;
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.6;
  /* margin: 0 auto; */
  /* padding-top: clamp(5px, 5vh, 5px); */
  text-align: left;
}

.textBox p {
  padding-left: 200px;
  padding-bottom: 150px;
}

.textBox strong {
  font-weight: 600;
}

/* Tablets */
@media (max-width: 1024px) {
  .textBox {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .textBox {
    font-size: clamp(1.6rem, 5vw, 2rem);
    line-height: 2.2rem;
  }
}

/* Celular menor */
@media (max-width: 480px) {
  .overlay {
    align-items: flex-end;
  }

  .break {
    display: inline;
  }

  .textBox {
    max-width: 100%;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .textBox p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px
  }
}
