:root {
    --font-primary: 'Raleway', sans-serif;
    --color-black: #000000;
    --color-chumbo: #484848;
    --color-marinho: #0e3e68;
    --color-esmeralda: #76a5af;
    --color-turquesa: #7ad3e3;
    --color-cinza-claro: #bcbec0;
    --color-white: #ffffff;
  }
  